body {
    color: #332E3C;
}
img {
    width: 70%;
    display: block;
    margin: auto auto 30px auto;
    border-radius: 25px;
    transition: 0.2s;
}
.questions > img:hover {
    opacity: 0.8;
}
h1 {
    margin: auto;
    text-align: center;
}
.questions {
    margin: 0px auto 20px;
    padding: 30px;
    background-color: #EEFCCE;
    border-radius: 25px;
}
#newquiz {
    display: none;
}
#submit {
    display: block;
}
#question-container, #score-container {
    margin: auto auto 20px auto;
    padding: 20px 20px 0px 20px;
    background-color: #9EB25D;
    border-radius: 25px;
    width: 70%;
}
li:hover, #submit:hover, #newquiz:hover, #al:hover, #na:hover, #eu:hover {
    background-color: #fcfff0;
}
li {
    width: 30%;
    padding: 5px;
    border-radius: 10px;
}
ul {
    margin: 0px;
}
#submit, #newquiz, #al, #na, #eu {
    width: fit-content;
    padding: 10px;
    border-radius: 10px;
    background-color: #EEFCCE;
    margin-right: 20px;
    margin-bottom: 20px;
}
#buttonbox, #buttonbox2 {
    display: flex;
}
#scorebox {
    background-color: #EEFCCE;
    margin: auto;
    padding: 30px;
    border-radius: 25px;
}
#score-container {
    display: none;
    padding: 20px;
}
.answers {
    display: none;
    background-color: #9EB25D;
    padding: 20px 20px 4px 20px;
    border-radius: 25px;
    margin-bottom: 20px
}
.notes {
    display: none;
}
h3, h2 {
    margin: 0px;
}
.question-header {
    padding: 10px;
    border-radius: 10px;
    width: fit-content;
    margin: 20px 0px;
    display: none;
}

/* modal image */

#modal {
    display: none;
    position: fixed; 
    z-index: 1; 
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
}
#modalImage {
    margin: auto;
    display: block;
    width: 90%;
}
#closeModal {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
  
  #closeModal:hover,
  #closeModal:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
.courier-prime-regular {
    font-family: "Courier Prime", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .courier-prime-bold {
    font-family: "Courier Prime", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .courier-prime-regular-italic {
    font-family: "Courier Prime", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .courier-prime-bold-italic {
    font-family: "Courier Prime", serif;
    font-weight: 700;
    font-style: italic;
  }
  