img {
    width: 90%;
    display: block;
    margin: auto auto 30px auto;
    border-radius: 25px;
}
.questions {
    margin: 0px auto 20px;
    padding: 30px;
    background-color: white;
    border-radius: 25px;
}

#question-container, #score-container {
    margin: auto auto 20px auto;
    padding: 20px 20px 0px 20px;
    background-color: grey;
    border-radius: 25px;
    width: 70%;
}
li:hover, #submit:hover, #newquiz:hover, #AL:hover, #NA:hover, #EU:hover {
    background-color: lightgray;
}
li {
    width: 30%;
    padding: 5px;
    border-radius: 10px;
}
#submit, #newquiz, #AL, #NA, #EU {
    width: fit-content;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    margin-right: 20px;
    margin-bottom: 20px;
}
#buttonbox, #buttonbox2 {
    display: flex;
}
#scorebox {
    background-color: white;
    margin: auto;
    padding: 30px;
    border-radius: 25px;
}
#score-container {
    display: none;
    padding: 20px;
}
.answers {
    display: none;
    background-color: lightgrey;
    padding: 20px;
    border-radius: 25px;
}
.notes {
    display: none;
}
h3, h2 {
    margin: 0px;
}
.question-header {
    padding: 10px;
    border-radius: 10px;
    width: fit-content;
    margin: 20px 0px;
    display: none;
}